.article {
    font-family: "Lato";
    max-width: 600px;
    padding: 20px;
    box-shadow: 2px 2px 8px #ccc;
    margin: 20px auto;
}

.article__header {
    color: teal;
    font-family: "Lato";
}

.article__paragraph {
    color: black;
    font-family: "Lato";
}